.topNavigation-container {
  height: 76px;
  background-color: #ffffff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .navtop-left-search {
    padding: 4px 16px;
    display: flex;
    align-items: center;
    border: 1px solid #e9ecef;
    .navtop-search {
      width: 240px;  
      border: none;
      outline: none;
      color: #adb5bd;
      font-size: 16px;
      padding: 10px 15px;
      transition: all 0.3s ease; /* 添加过渡效果 */

      &::placeholder {
        color: #adb5bd;
        font-size: 14px; /* 修改字体大小 */
        font-style: italic; /* 设置斜体 */
      }
    }
  }

  .navtop-center{
    width: 100px;
    height: 100%;
    content: "";
  }
  .navtop-right-ctn{
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }


  .person-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
