/* message-transition.css */

/* 定义进入动画 */
@keyframes message-enter-animation {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 定义退出动画 */
@keyframes message-exit-animation {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* 为元素应用动画 */
.message-item-enter {
  animation: message-enter-animation 0.3s ease-in forwards;
}

.message-item-exit {
  animation: message-exit-animation 0.3s ease-in forwards;
}