.Message-Item {
  background-color: #87CEEB; /* 天蓝色 */
  color: #FAFAFA; /* 字体颜色 */
  padding: 5px 10px;
  border-radius: 8px; /* 圆角 */
  white-space: nowrap;
  font-size: 16px;
  display: inline-block;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;  
  user-select: none;
  margin-bottom: 15px;
  transition: transform 0.3s ease, opacity 0.3s ease; 
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Message-Icon{
 display: flex;
 align-items: center;
}
